.hero3-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;            
}


.hero3-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


.hero3-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.typed-word {
  font-size: 10rem;
  font-weight: 700;
}

.cursor {
  font-size: 4rem;
  font-weight: 700;
  margin-left: 4px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

@media (max-width: 700px) {
  .typed-word, .cursor {
    font-size: 2.6rem;
  }
}
